.form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
}

.form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

.form input[type="number"],
.form input[type="text"],
.form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

.form input[type="number"]:focus,
.form input[type="text"]:focus,
.form select:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.form__button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.form__button:hover {
    background-color: #0056b3;
}

.form p {
    font-size: 18px;
    font-weight: bold;
    color: #007bff;
    text-align: center;
    margin-top: 20px;
}
.add-spendings-button {
    background-color: #007bff;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-left: 535px;
    margin-top: 84px;
}

.add-spendings-button:hover {
    background-color: #0056b3;
}

.add-spendings-button:active {
    background-color: #004080;
    box-shadow: none;
}

