<div>
    <button class="add-spendings-button" (click)="openModel('add_spending')">Add Spendings</button>
    
</div>

<ng-template #add_spending let-modal>
    <form class="form">

        <label for="amountToDeduct">Amount to Deduct:</label>
        <input type="number" id="amountToDeduct" name="amountToDeduct" [(ngModel)]="amountToDeduct">
        
        <label for="spendingReason">Spending Reason:</label>
        <input type="text" id="spendingReason" name="spendingReason" [(ngModel)]="spendingReason">
        
        <label for="status">Requirement Status:</label>
        <select id="status" name="status" [(ngModel)]="status">
            <option value="Needs">Needs</option>
            <option value="Wants">Wants</option>
        </select>
        
        <label for="amountSpent">Amount Spent:</label>
        <input type="number" id="amountSpent" name="amountSpent" [(ngModel)]="amountSpent">
        
        <label for="progress">Progress:</label>
        <select id="progress" name="progress" [(ngModel)]="progress">
            <option value="Done">Done</option>
            <option value="In-Progress">In-Progress</option>
        </select>
    
        <button class="form__button" (click)="calculateAfterDeductions()">Calculate</button>
    </form>
</ng-template>
